@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import "bourbon";
$social-color-pallete: (
  linkedin: #007bb6,
  youtube: #df1c31,
  instagram: #8134af,
);

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  background: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content-container {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 0 10vw;
}
h1,
p {
  padding: 0;
  margin: 0;
}

p {
  padding-top: 5px;
  color: white;
  font-size: 1em;
  font-weight: 400;
}

.pure-g [class*="pure-u"] {
  font-family: "IBM Plex Mono", monospace;
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #005fac 0%, #005fac69 20%, #005fac00 100%);
  background-size: cover;
}

a {
  text-decoration: none;
}
//content-layer
.z-index-1 {
  z-index: 1;
}

.icon-link {
  cursor: pointer;
  width: $social-icon-size;
  height: $social-icon-size;
  background-color: $social-default-btn-color;
  line-height: $social-icon-size;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  @include box-sizing(content-box);

  $social-default-icon-color: #fff;
  $social-default-btn-color: #666;
  $social-icon-size: 60px;
  $social-icon-border: 2px;
  $social-icon-border-radius: 5px;

  &.fill {
    @each $social-alias, $social-color in $social-color-pallete {
      &.#{$social-alias} {
        background-color: $social-color;
        &:hover {
          background-color: #fff;
          .fa-#{$social-alias} {
            color: $social-color;
            @include transition(color 150ms ease-in-out);
          }
        }
      }
    }
  }

  &.brand {
    background-color: #fff;
    .fa {
      color: $brand-color;
    }
  }

  &.round {
    border-radius: 50%;
  }

  &.round-corner {
    border-radius: $social-icon-border-radius;
  }

  &:hover {
    @include transition(background-color 150ms ease-in-out);
    height: $social-icon-size - $social-icon-border * 2;
    line-height: $social-icon-size - $social-icon-border * 2;
    width: $social-icon-size - $social-icon-border * 2;
    background-color: #fff;

    @each $social-alias, $social-color in $social-color-pallete {
      &.#{$social-alias} {
        border: $social-icon-border solid $social-color;
      }
    }

    .fa {
      line-height: $social-icon-size - $social-icon-border * 2;
    }

    @each $social-alias, $social-color in $social-color-pallete {
      .fa-#{$social-alias} {
        color: $social-color;
        @include transition(color 150ms ease-in-out);
      }
    }
  }

  .fa {
    color: $social-default-icon-color;
    line-height: $social-icon-size;
    font-size: $social-icon-size - $social-icon-size * 0.4;
  }
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}
